@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap);


h1{
    margin: 60px auto;
    width: 70%;
    font-size: 24pt;
    font-family: 'Radio Canada Big';
    line-height: 36px; 
    font-weight:bold; 
}

h2,h3,h4,h5,h6,p {
    margin: 60px auto;
    width: 70%;
    font-size: 16pt;
    font-family: 'Radio Canada Big';
    line-height: 32px; 
}

body {
    margin: 60px auto;
    width: 70%;
    font-size: 16pt;
    font-family: 'Radio Canada Big';
    line-height: 32px; 
}

bold {
font-family: 'Radio Canada Big';
font-size: 16pt;
line-height: 32px; 
font-weight:bold; }

title {
    margin: 60px auto;
    width: 70%;
    font-family: 'Radio Canada Big';
}

nav ul, footer ul {
    font-family: 'Radio Canada Big';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: 'Radio Canada Big';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Radio Canada Big';
}

ul.posts li {
    list-style: none;
}

sp{
  font-size: 50pt;
  line-height: 50px; 
}
subtitle {
    text-decoration: none;
    color: #999;
    font-size: 18pt;
    font-family: 'Radio Canada Big';
    line-height: 36px; 
}
