@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);

title {
    margin: 60px auto;
    width: 70%;
    font-family: 'Radio Canada Big';
}
body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Radio Canada Big';
}
nav ul, footer ul {
    font-family: 'Radio Canada Big';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Radio Canada Big';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: 'Radio Canada Big';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Radio Canada Big';
}

ul.posts li {
    list-style: none;
}
/* Whole document: */
body{
  font-family: 'Radio Canada Big';
  font-size: 14pt;
  line-height: 24px; 
}
/* Headers */
h1{
  font-size: 22pt;
  font-family: 'Radio Canada Big';
  line-height: 36px; 
}
h2{
  font-size: 18pt;
  font-family: 'Radio Canada Big';
  line-height: 36px; 
}
h3,h4,h5,h6{
  font-size: 18pt;
  font-family: 'Radio Canada Big';
  line-height: 36px; 
}
/* Bold */
bold {
  font-family: 'Radio Canada Big';
  font-size: 14pt;
  line-height: 24px; 
  font-weight: bold;
}
/* Spacing */
sp{
  font-size: 50pt;
  line-height: 50px; 
}
