<!DOCTYPE html>
	<html>
		<style>
		@import url(https://fonts.googleapis.com/css2?family=Radio+Canada+Big);
		.main-container {
		margin-left: auto;
		margin-right: auto;
		}
		</style>
		<head>
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/x-icon" href="favicon.ico">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://alicesmail12.github.io/Statistics">Statistics</a></li>
				<li><a href="https://alicesmail12.github.io/Genetics">Genetics</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<title>{{ page.title }}</title>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/alicesmail12">github.com/alicesmail12</a></li>
				</ul>
			</footer>
		</body>
	</html>
