<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Radio+Canada+Big">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			    <style>
			      @font-face { font-family: 'Franklin Gothic Book'; src: url('Franklin Gothic Book Regular.ttf'); } 
			      h1 {
			         font-family: JuneBug
			      }
			    </style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/FPLStatistics/">FPLStatistics</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/alicesmail12">github.com/alicesmail12</a></li>
				</ul>
			</footer>
		</body>
	</html>
